@{
    ViewData["Title"] = "Корзина";
}
@using WebShop_FSharp
@using WebShop_FSharp.ViewModels.OrderModels
@model WebShop_FSharp.ViewModels.BasketModels.BasketViewModel
<div id="all">
    <div id="content">
        <div class="container">
            @if (Model != null)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Catalog">Главная</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Корзина</li>
                            </ol>
                        </nav>
                    </div>
                    <div id="basket" class="col-lg-9">
                        <div class="box">
                            <form id="basket-form" data-userid="@User.GetId()">
                                <h1>Корзина</h1>
                                <p class="text-muted">Продуктов в корзине: @Model.TotalQuantity</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Товар</th>
                                                <th>Количество</th>
                                                <th>Цена</th>
                                                <th>Сумма</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var p in Model.Products)
                                            {
                                                <tr>
                                                    <td><a asp-controller="Catalog" asp-action="ProductPage" asp-route-productId="@p.ProductId"><img src="@(p.ImagePath)" alt="@(p.Name)" /></a></td>
                                                    <td class="td-text-centered"><a asp-controller="Catalog" asp-action="ProductPage" asp-route-productId="@p.ProductId">@p.Name</a></td>
                                                    <td class="td-centered">
                                                        <input id="@("quantitySetter_"+p.ProductId)" onchange="setQuantity(@User.GetId(),@p.ProductId)" type="number" min="1"  value="@(p.Quantity)" class="form-control">
                                                    </td>
                                                    <td class="td-text-centered">@p.Price</td>
                                                    <td class="td-text-centered">@p.Sum</td>
                                                    <td class="td-text-centered"><a href="@Url.Action("RemoveProducts", "Basket", new { userId = User.GetId(), productId = p.ProductId })"><i class="fa fa-trash-o"></i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Всего</th>
                                                <th colspan="2">@Model.TotalSum</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.table-responsive-->
                                <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                                    <div class="left"><a asp-controller="Catalog" asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>В каталог</a></div>
                                    <div class="right">
                                        <a href="@Url.Action("Index", "Basket")" class="btn btn-outline-secondary"><i class="fa fa-refresh"></i>Обновить корзину</a>
                                        <a a href="@Url.Action("ChooseDeliveryMethod","Order",new OrderSummaryViewModel() { TotalCount = Model.TotalQuantity, TotalPrice = Model.TotalSum })" class="btn btn-primary">Перейти к оформлению заказа <i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    @await Html.PartialAsync("OrderSummary",new OrderSummaryViewModel(){ TotalCount = Model.TotalQuantity,TotalPrice= Model.TotalSum})
                </div>

            }
            else
            {
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Catalog">Главная</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Корзина</li>
                            </ol>
                        </nav>
                    </div>
                    <div id="basket" class="col-lg-12">
                        <div class="box">
                            <form method="post" action="">
                                <h1>Корзина</h1>                                
                                <div class="table-responsive">
                                    <p class="display-1">Корзина пуста</p>
                                </div>
                                <!-- /.table-responsive-->
                                <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                                    <div class="left"><a asp-controller="Catalog" asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>В каталог</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            }
        </div>
    </div>
</div>