@model WebShop_NULL.Models.ViewModels.AdminPanelModels.AdminPanelCreateProductViewModel
@{
    Layout = "_AdminPanelLayout";
}
<div class="row">
    @await Html.PartialAsync("_GetAdminMenu")
    <div class="col-lg-10 col-md-12 admin-content-margined">
        <div class="content">
            <form id="product-create-form" action="" method="post" enctype="multipart/form-data">
                <div class="section">
                    <h3>Товар</h3>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    }
                    <div class="form-group">
                        <input class="form-control" placeholder="Название товара" type="text" asp-for="ProductName"/>
                        <span asp-validation-for="ProductName"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Описание товара" type="text" cols="20" wrap="hard" asp-for="ProductDescription"></textarea>
                        <span asp-validation-for="ProductDescription"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Цена товара" type="number" asp-for="ProductPrice"/>
                        <span asp-validation-for="ProductPrice"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="image-label">Ничего не выбрано</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="Image">
                            <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h3>Характеристики</h3>
                    <div class="form-group">
                        <span asp-validation-for="Category"></span>
                        <select class="form-control mt-2" asp-for="Category">
                            <!option value="-1" disabled @(Model.Category == null ? "selected" : "")>Категория</!option>
                            @foreach (var category in Model.Categories)
                            {
                                <!option value="@category.Id" @(Model.Category != null && Model.Category.Value == category.Id ? "selected" : "")>@category.Name</!option>
                            }
                        </select>
                    </div>
                    
                    <div id="properties-container">
                        
                    </div>
                </div>
                
                <div class="form-group d-flex justify-content-center align-items-center mt-2">
                    <input class="btn btn-primary" type="submit" id="submit-button" value="Создать" disabled/>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/createProduct.js"></script>
}