@model WebShop_FSharp.ViewModels.AdminPanelModels.AdminPanelOrderPageViewModel
@{
    ViewData["Title"] = "Заказы";
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-are="" asp-controller="Home" asp-action="Index">Главная</a></li>
                            <li aria-current="page" class="breadcrumb-item"><a asp-controller="AdminPanel" asp-action="Orders">Заказы</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Заказ номер @Model.OrderId</li>
                        </ol>
                    </nav>
                </div>
                <div id="customer-orders" class="col-lg-12">
                    <div class="box">
                        <h1>Номер заказа: @Model.OrderId</h1>
                        <hr />
                        <div class="order-info">
                            <div class="order-info-column">
                                <div class="order-info-item">
                                    <div class="order-info-item-header">
                                        Тип доставки:
                                    </div>
                                    <div class="order-info-item-value">
                                        @Model.DeliveryMethod
                                    </div>
                                </div>
                                <div class="order-info-item">
                                    <div class="order-info-item-header">
                                        Адрес доставки:
                                    </div>
                                    <div class="order-info-item-value">
                                        @Model.Address
                                    </div>
                                </div>
                            </div>
                            <div class="order-info-column">
                                <div class="order-info-item">
                                    <div class="order-info-item-header">
                                        Статус заказа:
                                    </div>
                                    <div class="order-info-item-value">
                                        @Model.OrderState
                                    </div>
                                </div>
                                <div class="order-info-item">
                                    <div class="order-info-item-header">
                                        Заказ создан:
                                    </div>
                                    <div class="order-info-item-value">
                                        @Model.CreateDate.ToString("dd-MM-yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 style="text-align:center;">Содержимое заказа</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Цена</th>
                                        <th>Количество</th>
                                        <th>Сумма</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in @Model.OrderItems)
                                    {
                                        <tr>
                                            <td class="td-text-centered"><a href="~/product/@m.ProductId">@m.ProductName</a></td>
                                            <td class="td-text-centered">@m.ProductPrice</td>
                                            <td class="td-text-centered">@m.ProductQuantity</td>
                                            <td class="td-text-centered">@(m.ProductQuantity*m.ProductPrice)</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <p>Всего продуктов: @Model.TotalCount</p>
                        <p>Итоговая сумма заказа: @Model.TotalPrice</p>
                        <p>Электронная почта заказчика: @Model.Email</p>
                    </div>
                </div>

                <div class="change-state container box">
                    <h3 style="text-align:center;">Изменение статуса заказа</h3>
                    <p>@Html.ValidationSummary(true)</p>
                    <form asp-action="OrderPage" asp-controller="AdminPanel" method="POST">
                        <div class="form-group" style="display:none;">
                            <input type="number" value="@Model.OrderId" name="orderId" />
                        </div>
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="DeliveryMethod" />
                        <input type="hidden" asp-for="OrderId" />
                        <div class="form-group">
                            @Html.LabelFor(m => m.OrderState, "Статус заказа")
                            <select asp-for="OrderState" asp-items="Model.OrderStates" class="form-control">
                            </select>
                            @Html.ValidationMessageFor(m => m.OrderState)
                        </div>
                        <input type="submit" class="btn btn-primary" value="Применить" \>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
