@model WebShop_FSharp.ViewModels.AdminPanelModels.AdminPanelOrdersViewModel
@{
    Layout = "_AdminPanelLayout";
}
<div class="row">
    @await Html.PartialAsync("_GetAdminMenu")
    <div class="col-lg-10 col-md-12 admin-content">
        <div class="header">
            <div class="search">
                <form class="form-inline">
                    <div class="form-group" id="queryIdWrapper">

                        @Html.EditorFor(m => m.QueryId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(m => m.QueryId, "Введите запрос")
                        @Html.ValidationMessageFor(m => m.QueryId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StringSearchBy, "Фильтрация по")
                        <select id="City" class="form-control" asp-for="StringSearchBy" asp-items="Model.SearchBy">
                        </select>
                        @Html.ValidationMessageFor(m => m.StringSearchBy)
                    </div>
                    <input type="submit" class="btn btn-primary" value="Фильтровать" />
                    <a asp-controller="AdminPanel" asp-action="RefreshFilter" class="btn btn-primary">Сбросить</a>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Дата создания</th>
                            <th>Идентификатор заказчика</th>
                            <th style="vertical-align:middle">Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Orders)
                        {
                        <tr class="product-item">
                            <td class="td-text-centered td-centered">@order.OrderId</td>
                            <td class="td-text-centered td-centered">@order.CreateDate.ToString("dd-MM-yyyy")</td>
                            <td class="td-text-centered td-centered">@order.OwnerId</td>
                            <td class="td-text-centered td-centered">@order.OrderState.State</td>
                            <td>
                                <a href="@Url.Action("OrderPage","AdminPanel", new { orderId = order.OrderId })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
