@model WebShop_FSharp.ViewModels.ProfileModels.PasswordChangeModel

<form action="@Url.Action("ProfileEditPassword", "Profile")" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, "Старый пароль")
                @Html.EditorFor(m => m.OldPassword, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, "Пароль")
                @Html.EditorFor(m => m.NewPassword, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, "Подтвердите пароль")
                @Html.EditorFor(m => m.ConfirmPassword, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
    </div>
    <!-- /.row-->
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Поменять пароль</button>
    </div>
</form>