@model WebShop_FSharp.ViewModels.OrderModels.OrderPageViewModel
@{ 
    ViewData["Title"] = "Мои заказы";
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-are="" asp-controller="Home" asp-action="Index">Главная</a></li>
                            <li aria-current="page" class="breadcrumb-item"><a asp-controller="Profile" asp-action="Orders">Мои заказы</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Заказ номер @Model.OrderId</li>
                        </ol>
                    </nav>
                </div>
                @await Html.PartialAsync("ProfileMenuPartial", 0)
                <div id="customer-orders" class="col-lg-9">
                    <div class="box">
                        <h1>Номер заказа: @Model.OrderId</h1>
                        <div class="order-info">
                            <div class="order-info-column">
                                <div class="order-info-item">
                                    <div class="order-info-item-header">
                                        Тип доставки:
                                    </div>
                                    <div class="order-info-item-value">
                                        @Model.DeliveryMethod
                                    </div>
                                </div>
                                <div class="order-info-item">
                                    <div class="order-info-item-header">
                                        Адрес доставки:
                                    </div>
                                    <div class="order-info-item-value">
                                        @Model.Address
                                    </div>
                                </div>
                            </div>
                            <div class="order-info-column">
                                <div class="order-info-item">
                                    <div class="order-info-item-header">
                                        Статус заказа:
                                    </div>
                                    <div class="order-info-item-value">
                                        @Model.OrderState
                                    </div>
                                </div>
                                <div class="order-info-item">
                                    <div class="order-info-item-header">
                                        Заказ создан:
                                    </div>
                                    <div class="order-info-item-value">
                                        @Model.CreateDate.ToString("dd-MM-yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Содержимое заказа</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Цена</th>
                                        <th>Количество</th>
                                        <th>Сумма</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in @Model.OrderItems)
                                    {
                                        <tr>
                                            <td class="td-text-centered"><a href="~/product/@m.ProductId">@m.ProductName</a></td>
                                            <td class="td-text-centered">@m.ProductPrice</td>
                                            <td class="td-text-centered">@m.ProductQuantity</td>
                                            <td class="td-text-centered">@(m.ProductQuantity*m.ProductPrice)</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <p>Всего продуктов: @Model.TotalCount</p>
                        <p>Итоговая сумма заказа: @Model.TotalPrice</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>