@using WebShop_FSharp
@model WebShop_FSharp.ViewModels.ProfileModels.UserViewModel
@{
    ViewData["Title"] = "Personal Area";
    var isCurrentUser = User.GetId() == Model.Id;
}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-are="" asp-controller="Home" asp-action="Index">Главная</a></li>
                            <li aria-current="page" class="breadcrumb-item active">@Model.Name</li>
                        </ol>
                    </nav>
                </div>
                @if (isCurrentUser)
                {
                    @Html.Partial("ProfileMenuPartial", 1)
                }
                <div class="@(isCurrentUser?"col-lg-9":"col-lg-12")">
                    <div class="box d-flex align-items-center flex-column">
                        <div class="container-fluid d-flex justify-content-lg-center">
                            <img class="avatar" src="@Url.Content($"~/profile/{Model.Id}/image")?date=@DateTime.Now.ToString()" height="400" width="400" />
                        </div>
                        <div class="row mt-5 w-100">
                            <div class="list-group-flush list-group w-100">
                                <div class="list-group-item p-4 no-cursor-action d-flex justify-content-between align-items-center">
                                    <span class="text-large">Имя</span>
                                    <span class="text-large">@Model.Name</span>
                                </div>
                                
                                <div class="list-group-item p-4 no-cursor-action d-flex justify-content-between align-items-center">
                                    <span class="text-large">Фамилия</span>
                                    <span class="text-large">@Model.Surname</span>
                                </div>
                                
                                <div class="list-group-item p-4 no-cursor-action d-flex justify-content-between align-items-center">
                                    <span class="text-large">Email</span>
                                    <span class="text-large">@Model.Email</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.row-->
                        <div class="row">
                            @if (isCurrentUser)
                            {
                                <div class="col-md-12 text-center">
                                    <a asp-controller="Profile" asp-action="ProfileEdit" class="btn btn-primary"><i class="fa fa-edit"></i>Редактировать</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
