@model WebShop_FSharp.ViewModels.AuthtorizationModels.LoginModel

@{
    ViewData["Title"] = "Sign-In";
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">Авторизация</li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-12">
                    <div class="box">
                        <h1>Авторизация</h1>
                        <p class="lead">Уже являетесь нашим покупателем?</p>
                        <p class="text-muted">Введите ваши данные, чтобы получить доступ ко всем возможностям сайта</p>
                        <hr>
                        <form action="" method="post">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    @Html.ValidationSummary()
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, "Email")
                                @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, "Пароль")
                                @Html.EditorFor(m => m.Password, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="form-group">
                                <input id="remember-me" type="checkbox" name="rememberMe">
                                <label for="remember-me">Запомнить меня</label>
                            </div>
                            <div class="text-center d-flex justify-content-between align-items-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-sign-in"></i>
                                    Войти
                                </button>
                                <a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
